registry=https://registry.npmmirror.com/
proxy=http://127.0.0.1:7897
https-proxy=https://127.0.0.1:7897
strict-ssl=false

# # 防止npm用不支持的node版本
# engine-strict = true

# # 偏平化node_modules结构
# shamefully-hoist=true